{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}

<div class="container margin-top-log">
  <div class="row">
      <div class="col"></div>
      <div class="col-3 text-center text-white">

        <h1 class="h3 mb-3 font-weight-normal">Выход</h1>
            <p>
                <small>
                Вы успешно вышли из системы.
                Вы можете <a href="{% url 'login' %}">
                <span class="text-white font-weight-bold">войти</span></a> снова.
                </small>
            </p>

      </div>
      <div class="col"></div>
  </div>
</div>





{% endblock %}


