{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}


<div class="container margin-top-log">
  <div class="row">
      <div class="col"></div>
      <div class="col-3 text-center text-white">

        <form  action="{% url 'login' %}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
        {% if form.errors %}
            <small>Ваше имя пользователя и пароль не совпадают. <br>Пожалуйста, попробуйте еще раз.</small>
        {% else %}
            <small>Пожалуйста, используйте следующую форму для входа в систему.</small>
        {% endif %}
            <p></p>
            <p>
                <label for="username" class="sr-only">Логин:</label>
                <input type="text" class="form-control" placeholder="Логин"
                       name="username" value="" id="username" required autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Пароль:</label>
                <input type="password"  class="form-control" placeholder="Пароль"
                       name="password" value="" id="password" required>
            </p>
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'project:projects' %}"/>
            <p><input type="submit" class="btn btn-lg btn-info btn-block" value="Вход"></p>
        </form>

      </div>
      <div class="col"></div>
  </div>
</div>


{% endblock %}