{% extends "base.html" %}

{% block title %}Steps{% endblock %}

{% block content %}


<main class="container margin-top-text">
    <div class="row">
        <div class="col-2">
        {% include 'step/menu.html' %}
        </div>
        <div class="col-10">
            {% for step in steps %}
            <div class="card mb-3">
                <div class="card-header text-center">
                    {{ step.step_project }} / {{step.step_project.project_client}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ step.step_name }}</h5>
                    <p class="card-text">{{ step.step_specification_short }}</p>
                    <p class="card-text">{{ step.step_specification_full }}</p>
                    <a href="{{step.get_absolute_url}}" class="btn btn-info">Подробности</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}