
<ul class="list-group">
    <a href="{% url 'task:tasks' %}" class="list-group-item bg-info text-white" >Все задачи</a>
    <a href="{% url 'task:tasks_filter' 'start' %}" class="list-group-item bg-info text-white" >Старт</a>
    <a href="{% url 'task:tasks_filter' 'discussion' %}"  class="list-group-item bg-info text-white" >Обсуждение</a>
    <a href="{% url 'task:tasks_filter' 'work' %}"  class="list-group-item bg-info text-white" >В работе</a>
    <a href="{% url 'task:tasks_filter' 'pause' %}" class="list-group-item bg-info text-white" >Пауза</a>
    <a href="{% url 'task:tasks_filter' 'close' %}" class="list-group-item bg-info text-white" >Закрытие</a>
    <a href="{% url 'task:tasks_filter' 'finish' %}" class="list-group-item bg-info text-white" >Финиш</a>
</ul>
