{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<!--Навигация-->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'about' %}">Система PST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'project:projects' %}">Проекты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'step:steps' %}">Шаги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'task:tasks' %}">Задачи</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Создать</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'project:new_project' %}">Проект</a>
                        <a class="dropdown-item" href="{% url 'step:new_step' %}">Шаг</a>
                        <a class="dropdown-item" href="{% url 'task:new_task' %}">Задача</a>
                        <a class="dropdown-item" href="{% url 'business:new_city' %}">Адрес</a>
                        <a class="dropdown-item" href="{% url 'business:new_client' %}">Клиент</a>
                     </div>
            </li>
        </ul>
        <span class="navbar-text">
        {% if request.user.is_authenticated %}
            {% if request.user.profile.photo.url %}
                <img src=" {{ request.user.profile.photo.url }}"
                     class="rounded" width="55" height="50" alt="Avatar">
                Привет {{ request.user.first_name }}, <a href="{% url 'logout' %}">
                <span class="font-weight-bold text-white">Выход</span></a>
            {% else %}
              <span class="badge badge-info">Нет фото</span>  Привет {{ request.user.first_name }},
                <a href="{% url 'logout' %}"><span class="font-weight-bold text-white">Выход</span></a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}"><span class="font-weight-bold text-white">Вход</span></a>
        {% endif %}
        </span>
    </div>
</nav>

<!--Основная часть-->

{% block content %}{% endblock %}

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>